@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?vah95z');
	src:url('../fonts/icomoon.eot?#iefixvah95z') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?vah95z') format('truetype'),
		url('../fonts/icomoon.woff?vah95z') format('woff'),
		url('../fonts/icomoon.svg?vah95z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 5px;
}


.icon-close-o:before {
	content: "\e600";
}
.icon-close:before {
	content: "\e601";
}
.icon-download:before {
	content: "\e602";
}
.icon-fork:before {
	content: "\e603";
}
.icon-gesture-6:before {
	content: "\e604";
}
.icon-git-branch:before {
	content: "\e605";
}
.icon-git:before {
	content: "\e606";
}
.icon-github:before {
	content: "\e607";
}
.icon-glasses:before {
	content: "\e608";
}
.icon-mac:before {
	content: "\e609";
}
.icon-message:before {
	content: "\e60a";
}
.icon-quote-left:before {
	content: "\e60b";
}
.icon-quote-right:before {
	content: "\e60c";
}
.icon-search:before {
	content: "\e60d";
}
.icon-sound:before {
	content: "\e60e";
}
.icon-star-o:before {
	content: "\e60f";
}
.icon-star:before {
	content: "\e610";
}
.icon-weibo:before {
	content: "\e611";
}
.icon-weixin:before {
	content: "\e612";
}
.icon-windows:before {
	content: "\e613";
}
.icon-windows8:before {
	content: "\e614";
}
